[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.10"
pillow = "==9.5.0"
django-crispy-forms = "==2.0"
crispy-bootstrap5 = "==0.7"

[dev-packages]

[requires]
python_version = "3.13"
